.logo-img {
    width: 303px;
    height: 74px;
}

/* .nav-text {
    width: 1.5rem;
    height: 1.5rem;
    font-family: "Manrope", sans-serif;
    font-weight: 600;
    color: black; 
    display: inline-block;
} */
