---
const { stepNumber, title, description, icon } = Astro.props;
import step1 from '../assets/step1.png';
import step2 from '../assets/step2.png';
import step3 from '../assets/step3.png';
import step4 from '../assets/step4.png';
---

<div class="p-5 bg-[#FDEAD0] rounded shadow flex flex-col items-center text-center">
step 1 di kiri atas
step 2 di kanan atas
step 1 dikiri bawah
step 1 di kanan bawah
  </h3>
</div>
